

<%= turbo_frame_tag folder do %>

<section class="border py-5 my-5">
    <h2><%= folder.title %> </h2>
    <br>
    <p><%= folder.description%>></p>
  <br>
    <%= link_to "Edit", edit_folder_path(folder), class: "btn-primary" %>
    <%= link_to "Delete", folder_path(folder), class: "btn-primary", data: {
      turbo_confirm: "Are you sure?",
      turbo_method: :delete,
    } %>

</section>
<% end %>